{% extends "tomato/base_generic.html" %}

{% block title %}
    <title> Order Change - Tomato </title>
{% endblock title %}

{% block content %}

<form action="{% url 'tomato:order_change' order.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        {% if role == 'customer' %}
        <h1 class="h1">Change Order</h1>
        {% else %}
        <h1 class="h1">Check In</h1>
        {% endif %}
        {% if message %}
            {% for msg in message %}
                {% if 'Successfully' not in msg %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="bi bi-exclamation-triangle-fill"></i><strong> {{ msg }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="bi bi-check-circle-fill"></i><strong> {{ msg }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <table class="table table-hover table-sm align-middle table-light">
            <thead></thead>
            <tr class="align-middle">
                <td>Room Type Name:</td>
                <td>{{ order.room_type.name }}</td>
            </tr>
            <tr class="align-middle">
                <td>Room Type Name:</td>
                <td>{{ order.room_type.description }}</td>
            </tr>
            <tr class="align-middle">
                <td>Room Single Price:</td>
                <td>
                    {% if uu.level == 'v' %}
                    {{ order.room_type.price }}<br>(Original price is {{ order.room_type.base_price }})
                {% else %}
                    {{ order.room_type.base_price }}
                {% endif %}
                </td>
            </tr>
            <tr class="align-middle">
                <td>Check in Date</td>
                <td><input class="form-control" type="date" name="check_in_date" value="{{ order.check_in_date|date:'Y-m-d' }}"></td>
            </tr>
            <tr class="align-middle">
                <td>Check out Date</td>
                <td><input class="form-control" type="date" name="check_out_date" value="{{ order.check_out_date|date:'Y-m-d' }}"></td>
            </tr>
            <tr class="align-middle">
                <td>Bank Card</td>
                <td><input class="form-control" type="text" name="bank_card" value="{{ order.bank_card }}"></td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Submit</button>
    </fieldset>
</form>

{% endblock content %}
