{% extends "tomato/base_generic.html" %}

{% block title %}
    <title> Check In - Tomato </title>
{% endblock title %}

{% block content %}
<form action="{% url 'tomato:order_check_in' order.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        {% if role == 'customer' %}
        <h1 class="h1">Change Order</h1>
        {% else %}
        <h1 class="h1">Check In</h1>
        {% endif %}
        {% if message %}
            {% for msg in message %}
                {% if 'Successfully' not in msg %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="bi bi-exclamation-triangle-fill"></i><strong> {{ msg }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="bi bi-check-circle-fill"></i><strong> {{ msg }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <table class="table table-hover table-sm align-middle table-light">
            <thead></thead>
            <tr class="align-middle">
                <td>Room Type Name:</td>
                <td>{{ order.room_type.name }}</td>
            </tr>
            <tr class="align-middle">
                <td>Room Type Description:</td>
                <td>{{ order.room_type.description }}</td>
            </tr>
            <tr class="align-middle">
                <td>Price:</td>
                <td>{{ order.price }}</td>
            </tr>
            <tr class="align-middle">
                <td>Check in Date</td>
                <td>{{ order.check_in_date|date:'Y-m-d' }}</td>
            </tr>
            <tr class="align-middle">
                <td>Check out Date</td>
                <td>{{ order.check_out_date|date:'Y-m-d' }}</td>
            </tr>
            <tr class="align-middle">
                <td>Bank Card</td>
                <td>{{ order.bank_card }}</td>
            </tr>
            <tr class="align-middle">
                <td>Room Number</td>
                <td>            
                    <select class="form-select" name="check_in_room">
                        {% for choice in room_choices %}
                            <option value="{{choice.id}}">{{choice.room_number}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Check In</button>
    </fieldset>
</form>
{% endblock content %}
