{% extends "tomato/base_generic.html" %}

{% block title %}
    <title> Order Detail - Tomato </title>
{% endblock title %}

{% block content %}

<h1 class="h1">Order Detail</h1>
<div class="card card-body">
    <table class="table table-borderless align-middle table-hover">
        <thead></thead> 
        <tr>
            <td class="h5">Order Time</td>
            <td>{{ order.time }}</td>
        </tr>
        <tr>
            <td class="h5">Check In Date</td>
            <td>{{ order.check_in_date }}</td>
        </tr>
        <tr>
            <td class="h5">Check Out Date</td>
            <td>{{ order.check_out_date }}</td>
        </tr>
        <tr>
            <td class="h5">Room Type</td>
            <td>{{ order.room_type.id }}</td>
        </tr>
        <tr>
            <td class="h5">Room Number</td>
            {% if order.room_number.floor == 0 %}
              <td>None</td>
            {% else %}
              <td>{{ order.room_number.room_number }}</td>
            {% endif %}
        </tr>
        <tr>
            <td class="h5">Price</td>
            <td>{{ order.price }}</td>
        </tr>
        <tr>
            <td class="h5">Bank Card</td>
            <td>{{ order.bank_card }}</td>
        </tr>
        <tr>
            <td class="h5">Customer</td>
            <td>{{ order.customer.name }}</td>
        </tr>
        <tr>
            <td class="h5">State</td>
            {% if order.state == 'p' %}
              <td>In Progress</td>
            {% elif order.state == 'c' %}
              <td>Canceled</td>
            {% elif order.state == 'f' %}
              <td>Finished</td>
            {% elif order.state == 'r' %}
              <td>Reservation</td>
            {% elif order.state == 'i' %}
              <td>Checked In</td>
            {% endif %}
        </tr>
    </table>
    {% if role == 'customer' %}
        {% if order.state == 'p' or order.state == 'r' %}
        <form>
            <a class="btn btn-primary" href="{% url 'tomato:order_change' order.id %}">Change Order</a>
            <a class="btn btn-danger" href="{% url 'tomato:order_cancel' order.id %}">Cancel Order</a>
        </form>
        {% endif %}
    {% else %}
        {% if flag == 'check_in' %}
            <form>
                <a class="btn btn-primary" href="{% url 'tomato:order_check_in' order.id %}">Check In</a>
            </form>
        {% elif flag == 'check_out' %}
            <form>
                <a class="btn btn-success" href="{% url 'tomato:order_check_out' order.id %}">Check Out</a>
            </form>
        {% endif %}
    {% endif %}
</div>

{% endblock content %}
