{% extends "tomato/base_generic.html" %}

{% block title %}
    <title> Room Type Edit - Tomato </title>
{% endblock title %}

{% block content %}

<form action="{% url 'tomato:room_type_edit' room_type.id %}" method="post">
{% csrf_token %}
<fieldset>
    <h1 class="h1">Edit Room Type</h1>
    {% if message %}
        {% for msg in message %}
            {% if msg != 'Infomation updated!' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-triangle-fill"></i><strong> {{ msg }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle-fill"></i><strong> {{ msg }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <table class="table table-hover table-sm align-middle table-light">
        <thead></thead>
        <tr>
            <td class="h5">Room Type Name:</td>
            <td><input class="form-control" type="text" name="room_type_name" value="{{ room_type.name }}"></td>
        </tr>
        <tr>
            <td class="h5">Description:</td>
            <td><input class="form-control" type="text" name="room_type_description" value="{{ room_type.description }}"></td>
        </tr>
        <tr>
            <td class="h5">Base Price:</td>
            <td><input class="form-control" type="number" name="room_type_base_price" value="{{ room_type.base_price }}"></td>
        </tr>
    </table>
    <button class="btn btn-primary" type="submit">Submit</button>
    <a class="btn btn-danger" class="btn btn-danger" href="{% url 'tomato:index' %}">Delete</a> 
</fieldset>
</form>

{% endblock content %}
